header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -45px;
}

i{
    color: $white-normal;
}

.header-icons{
    display: flex;
    gap: 18px;
    margin-left: 15px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.6s infinite alternate;
        color: $red-light;
    }
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button{
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    margin-right: 15px;
    background-color: transparent;
    transition: background-color 0.6s;
}

.header-button:hover{
    border: 1px solid #400073;
    background-color: #400073;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px ;
}

@media screen and(max-Width: 550px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 34px;
        }
    }

    .header-logo img{
        width: 160px;
        margin-top: 46px;
    }

    .header-button{
        display: none;
    }
}